.container{
    max-width: 1352px;
    margin: 0 auto;
    display: flex;
}

header{
    border: 2px solid #00000029;
    width: 100%;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: #08A6E4;
    width: 142px;
    height: 37px;
    display: inline-block;
    justify-content: flex-start;
    /*padding-right: 300px;*/
}

nav{
    display: flex;
    list-style: none;
    position: relative;
    left: 400px;
}
ul{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    letter-spacing: 3.28px;
    color: #A5A5A5;
    display: flex;
    align-items: center;
    list-style: none;

}
li{
padding-right: 95px;
}
a:hover{
    color: black;
}
a:active{
    border-bottom:3px solid #08A6E4;
}
a{
    display: inline-block;
    color: #A5A5A5;
    text-decoration: none;
    padding: 30px;
}
.open-section{
    background: transparent url(../bestshop/images/Background@2x.png) no-repeat padding-box;
    border: 1px solid #00000029;
    text-align: center;
    height: 1000px;
    background-size: 2200px;
    background-position: bottom;
}
h1{
    display: inline-block;
    /*font-family: 'Raleway', sans-serif;*/
    font: normal normal normal 49px/57px Raleway;
    /*font-size: 49px;*/
    padding-top: 60px;
    width: 226px;
    height: 57px;
    margin-bottom: 0;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black;
}
.open{
    font: normal normal bold 16px/22px Open Sans;
    background: #08A6E4;
    color: white;
    width: 440px;
    height: 67px;
    border-radius: 40px 40px 40px 40px;
    border: none;
    margin-top: 38px;
}
h2{
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
}
.first{
    display: inline-block;
    border: 1px solid blue;
    width: 150px;
    height: 189px;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}
.circles1{
    width: 63px;
    height: 63px;
    background-color: #FB3B64;
    border-radius: 50%;
}

.circles2{
    width: 63px;
    height: 63px;
    background-color: #08A6E4;
    border-radius: 50%;
}

.circles3{
    width: 63px;
    height: 63px;
    background-color: #55DFB4;
    border-radius: 50%;
}
main{
    display: flex;
    justify-content: space-evenly;
}
.trzeci{
    border: 2px solid #00000029;
}
